

<table class="table border">
    <thead>
        <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Original</th>
        <th scope="col">Salida</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>i18nSelectPipe</td>
            <td>{{ nombre }}</td>
            <td>Hola {{ nombre }}, {{ genero | i18nSelect:generoMap}} a mi fiesta</td>
        </tr>

         <tr>
            <td>i18PluralPipe</td>
            <td>{{ listaEspera }}</td>
            <td>{{ listaEspera | i18nPlural:listaEsperaMap }}</td>
        </tr>



    </tbody>

    </table>


    <button (click)="cambiarPersona()" class="btn btn-primary">
        Cambiar Persona
    </button>

        
    <button (click)="bajarListaEspera()" class="btn btn-warning mx-3">
        Bajar lista de espera
    </button>